$font-family-sans-serif: 'Oswald', sans-serif;
$font-family-base: $font-family-sans-serif;

$navbar-height: 60px;
// $navbar-default-bg: #FDFFA0;
$navbar-default-bg: #FFF60D;
$body-bg: #FFFEE7;
// $btn-primary-bg: #6B0DFF;
$btn-primary-bg: $navbar-default-bg;
$btn-primary-color: black;