@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700|Special+Elite|Oswald);

.container-narrow {
  max-width: 480px;
}

main {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

form {
  text-align: center;
}

nav {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-brand {
  font-family: 'Tangerine', cursive;
  padding: 0;
  padding-left: 3%;
  img {
    max-width: 40px;
    margin-right: 10px;
    position: relative;
    bottom: 0.18em;
  }
  h4 {
    font-size: 1.85em;
    font-weight: bold;
    color: black;
    padding-top: 0.12em;
  }
}

.btn {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  padding-top: 12px;
}

li {
  letter-spacing: 0.3px;
}

#error_div, #no_results_div {
  display: none;
  h4 {
    line-height: 1.5em;
  }
}
