@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700|Special+Elite|Oswald);


/********************************************************
  GLOBALS
********************************************************/

body {
  background: url(../images/beer_bg.jpg) white no-repeat center center fixed;
  background-size: cover;
}

.btn {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
}

.container-narrow {
  max-width: 480px;
}






/********************************************************
  NAVBAR
********************************************************/

.navbar {
  background: url(../images/beer_head.jpg) white;

  .container {
    padding-top: 1.6em;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-brand {
  font-family: 'Tangerine', cursive;
  padding: 0;
  padding-left: 3%;
  img {
    max-width: 60px;
    margin-right: 10px;
    position: relative;
    bottom: 0.18em;
  }
  h4 {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    padding-top: 0.12em;
  }
}





/********************************************************
  MAIN BODY WRAPPER
********************************************************/

main {
  text-align: center;
  h2:first-child {
    color: $gray-darker;
    margin-top: 1.2em;
  }
}





/********************************************************
  AUTO-LOCATE SECTION
********************************************************/

.auto-locate {
  margin: 4em 0 4.5em 0;

  button {
    padding-top: 15px;
  }

  p {
    color: $gray-dark;
  }
}





/********************************************************
  MANUAL SEARCH SECTION
********************************************************/

.manual-search {
  h3 {
    color: $gray-darker;
    text-align: left;
    margin-left: 0.5%;
  }

  form {
    div:first-child, div:nth-child(2) {
      padding: 0;
    }

    div:first-child {
      padding-left: 3.5%;
    }

    div:nth-child(2) {
      padding-left: 0;
    }

    button {
      padding-top: 9px;
      height: 2.45em;
    }
  }

  #error-div, #no-results-div {
    display: none;
  }

}





/********************************************************
  RESULTS DIV
********************************************************/

.results {

  li {
    letter-spacing: 0.3px;
    .col-xs-8 {
      text-align: left;
      h4 {
        margin-top: 0.18em;
      }
    }
    .col-xs-4 {
      font-size: $font-size-h4;
      text-align: right;
    }
  }
}