<!doctype html>
<html lang="en" ng-app="BeerStalker">
  <head>
    <meta charset="utf-8">
    <title>BeerStalker</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/beerStalkController.js"></script>

  </head>

  <body ng-controller="BeerStalkController as beerStalkCtrl">

  <input type="text" ng-model=searchTerm>
  <button class="search" ng-click="search()">Button</button>
  <div></div>


  </body>
</html>
