<!doctype html>
<html lang="en" ng-app="BeerStalker">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Beer | Events | BeerStalker.com</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/beerStalkerController.js"></script>
  </head>

  <body ng-controller="BeerStalkController">

    <nav class="navbar navbar-default">
      <div class="container container-narrow">
        <div class="navbar-header">
          <div class="navbar-brand">
            <h4><img src='images/logo.png' alt='logo'>Beer Stalker</h4>
          </div>
        </div>
      </div>
    </nav>

    <main class="container container-narrow">
      <h3>Search for events near you that have free beer.</h3>

      <section class='auto-locate'>
        <button id='search-button' class="search btn btn-primary btn-lg btn-block" ng-click="autoSearch()">Stalk the beer</button>
        <p>(using your current location)</p>
      </section>

      <section class='manual-search'>
        <h4>or enter a city:</h4>

        <form class="form-group row">
          <div class='col-xs-7'>
            <input type="text_field" class="form-control" ng-model="cityName">
          </div>
          <div class='col-xs-5'>
            <button class="search btn btn-primary" ng-click="customSearch()">Stalk the Beer</button>
          </div>
        </form>

        <div id="error-div">
          <h4>Invalid search term</h4>
          <h4>(Must be a UK city/town name)</h4>
        </div>

        <div id="no-results-div">
          <h4>No free beer there! Try somewhere else?</h4>
        </div>
      <section>

      <ul class='results list-group'>
        <li class='list-group-item row' ng-repeat='result in searchResult'>
          <div class='col-xs-8'>
            <h5><a ng-href="{{result.event_url}}"> {{ result.name }} </a></h5>
            <div class='address'>
              <a href='https://maps.google.com?q={{ result.venue.address_1}}'>{{ result.venue.address_1 }}</a>
            </div>
          </div>
          <div class='col-xs-4'>
            {{ result.time | date : 'HH:mm' }}
            {{ result.time | date : 'dd MMM yyyy' }}
          </div>
        </li>
      </ul>

    </main>
  </body>
</html>